/**
 * Copyright 2006-2014 GrapeCity inc
 * Author: isaac.fang@grapecity.com
 */
.box {
  color: #ff0000;
  border-color: #ff9999;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}
